<div class="profile">
    {{#profile}}
    <img src="{{fbPhoto}}" alt="personal photo">
    <h4>{{fbName}}</h4>
    {{/profile}}
    {{#totalPage}}
    <p>Total pages: {{total}}</p>
    {{/totalPage}}
</div>