{{#profile}}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand title" href="#">That's What We Liked</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;
            Category
        </a></li>
        <li><a href="/checkTimeLine">
            <i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;
            Timeline
        </a></li>
        <li><a href="/showFavourite">
            <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;
            Favourite
        </a></li>
        <li><a href="/checkFriends">
            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
            Friends
        </a></li>
        {{!-- <div class="fb-share-button" data-href="http://159.203.93.124:8080/" data-layout="button" data-size="large" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2F&amp;src=sdkpreparse">Share</a>
        </div> --}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <img class="profile-pic" src="{{fbPhoto}}" alt="Smiley face" height="40" width="40">
        </li>
        <li><a href="#">Welcome {{fbName}}!</a></li>
        <li><a href="logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
            Logout
        </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{/profile}}

<div class="header clearfix container-fluid"> 
    <div class="column">
        {{#profile}}
            <div align="left" class="NameNlikes col-sm-4">
                <h1>Hi {{fbName}}!</h1>
                <h4>You liked {{totalPage}} pages!</h4>
            </div>
            <div class="col-sm-8">
                <div align="right" class="shareMsg">
                    <h4>Share this to your friends!</h4>
                    <br>
                </div>
                <div align="right" style="margin-right: 20px;padding-right:20px" class="shareButton">
                    <iframe align='center' src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2F159.203.93.124%3A8080%2F&layout=button&size=large&mobile_iframe=true&appId=109100156427112&width=73&height=28" width="73" height="28" style="border:none;transform:scale(1.5);overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        {{/profile}}
    </div>
</div>
{{#profile}}
    <hr class="seperator">
{{/profile}}

