<div class="container-fluid subHead">
    <h1 align="center">All the categories,<br> {{category.length}} <br> of them to be exact!</h1>
</div>

<div class="container-fluid catContainer">
    <ul class="list-group">
        {{#each category as |item|}}
        <a href="/category/{{item.[0]}}">
            <li class="list-group-item">
                <span >{{ item.[0] }}</span><span class="badge">{{ item.[1] }} Pages</span>
            </li>
        </a>
        {{/each}}
    </ul>
</div>