<div>
    <a href="/home"><button>Return</button></a>
</div>
<div class="container-fluid">
    <ul class="list-group">
        {{#friendInfo}}
        <a href="/friends/commonpages/{{fbId}}">
        <li class="list-group-item">
            <img src="{{fbPhoto}}" alt="profile picture">
            <span>{{fbName}}</span>
        </li>
        </a>
        {{/friendInfo}}
    </ul>
</div>