<div class="container-fluid subHead">
    <h1 align="center">All the categories that you liked, {{category.length}} of them to be exact!</h1>
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    {{!-- <span class="sr-only">40% Complete (success)</span> --}}
  </div>
</div>

<div class="container-fluid catContainer">
    {{#each category as |item|}}
        <div class="col-xs-6 col-md-4 category">
            <div class="thumbnail">
                <img src="" alt="">
                <a href="{{ item.[0] }}">
                    <p>{{ item.[0] }}</p>
                </a>
                <span class="badge">{{ item.[1] }} Pages</span>
            </div>
        </div>
    {{/each}} 
</div>