<div class="container-fluid subHead">
    <h3 align="center">All the categories that you liked, {{category.length}} of them to be exact!</h3>
</div>

<div class="container-fluid catContainer">
    <ul class="list-group">
        {{#each category as |item|}}
        <a href="/category/{{item.[0]}}">
            <li class="list-group-item">
                <span >{{ item.[0] }}</span><span class="badge">{{ item.[1] }} Pages</span>
            </li>
        </a>
        {{/each}}
    </ul>
</div>