<div>
    <a href="/checkFriends"><button class="btn btn-info">Find your friends who liked with you!</button></a>
    <h1>All the categories that you liked</h1>
    <ul>
        {{#each category}}
            <a href="/{{@key}}"><li>{{@key}}: {{this}}</li></a>
            <hr>
        {{/each}}
    </ul>
</div>