<div class="container landing">
    <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

            <h1 class="title">Thats what we liked</h1>
            <h2 class="subtitle">Find out which friends liked the same page like you did!</h2>
            <iframe style='' src="https://giphy.com/embed/14cilFdQzr8hG0" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/reaction-like-facebook-14cilFdQzr8hG0">via GIPHY</a></p>
            {{!-- <img id='titleImg' src="https://giphy.com/gifs/reaction-like-facebook-14cilFdQzr8hG0" alt="HTML5 Icon" style="width:128px;height:128px;"> --}}

            {{!-- <h3 class="tagline">
                Wanna know who liked the same page like you did?<br> Find it out with a fe clicks!
            </h3> --}}

            <!-- Nice place to describe your site in a sentence or two -->
            <div class="showlogin">
                <h1> Login Facebook to see the magic happens! </h1>
                {{!-- <a href="/auth/facebook"><img src="https://i.stack.imgur.com/LKMP7.png"/></a> --}}
                <a href="/auth/facebook">
                <img src="https://i.stack.imgur.com/ZW4QC.png"/></a>
            </div>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->

</div>