<div>
    <div style="width:80%;" class="bigDiv col-sm-8 col-sm-offset-1">
        <canvas id="chartjs-0" class="chartjs" width="404" height="202" style="display: block; width: 404px; height: 202px;"></canvas>
    </div>
</div>

<script>
    new Chart(document.getElementById("chartjs-0"),
        {
            "type": "line",
            "data":
            {
                "labels": [{{#each years}}'{{this}}',{{/each}}],
        "datasets": [{
            "label": "Facebook pages",
            "data": [{{number}}],
        "fill": false, "borderColor": "rgb(75, 192, 192)",
        "lineTension": 0.1 }] 
        },
        "options": {} 
    });
</script>