.all{
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.background{
    background-image: linear-gradient(45deg, #2d4b89 0%, #3c5995 99%, #516fae 100%);
}

.login{
    background-color: rgba(72, 72, 72, 0.5);
}

.showlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.header{
    margin: 20px;
}

.profile{
    /* display:inline-block; */
    padding-left: 10px
}

.profile-div{
    margin-top: 10px;
    margin-left: 10px
}

/* .profile-pic{
    margin: 10px
} */

.title {
    font-size: 65px; 
}

.subHead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin: 10px
}

.progress-bar{
    /* background-image: linear-gradient(120deg, #4d651d 0%, #4d651d 100%); */
    background-image: linear-gradient(120deg, #dfe3ee 0%, #f7f7f7	 100%);
    background-color: rgb(255,255,255, 0.1)
}

.category{
    text-align: center;
}

.thumbnail {
    height: 80px;
    background-image: linear-gradient(135deg, #f7f7f7 0%, #dfe3ee 100%);
}

.pageItem {
    float: right;
    color: #6697C1;
}

.pageImg {
    margin-bottom: 5px;
}

.finger:hover {
    cursor: pointer;
}

select {
    background-color:black;
}

.sub {
    background-color:black;
}